input[type="text"],input[type="email"],input[type="password"]{
    margin: 5px;
    padding-left: 10px;
    width: 300px;
    height:30px;
    border-radius: 5px;
    border-color: white;
    
}
form{
    border: 1px solid black;
    margin-top: 80px;
    margin-left: 450px;
    width: 380px ;
    height: 480px ;
    text-align: center;
    background-color: rgb(26, 12, 77);
}  

input[type="button"]{
    width: 100px;
    height: 30px;
    margin-left: 250px;
    margin-top: 20px;
    background-color: rgb(8, 235, 8);
    color: white;
    font-size: 15px;
    border-color:  rgb(8, 235, 8);
    
} 
h1{
    color:white;
} 
.p{
    color: white ;
    text-align: center;
    
}  
                                                 